
.postImg {
  max-width: 200px;
  max-height: 200px;
}

.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 12px;
  height: 75px;
}

.posts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  max-height: 250px;
  border: 1px solid #666;
  margin: 5px;
  padding: 5px;
  font-family: Tahoma;
  font-size: 14px;
  border-radius: 4px;
  box-shadow: 2px 2px 2px #999;
  text-align: center;
}

.update-text {
  font-size: 8px;
}

/* .delete-button {
  position: absolute;
} */
